NODE_ENV=development
REDIS_URL=redis://redis:6379

DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_ENDPOINT=https://sgp1.digitaloceanspaces.com
DO_SPACES_BUCKET=your-bucket-name
DO_SPACES_CDN_URL=https://your-bucket.sgp1.cdn.digitaloceanspaces.com
DO_SPACES_REGION=sgp1
